header {
  height: 90px;
  background-color: #8D0B41;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 1.8em;
  font-family: serif;
  font-weight: 300;
  margin-top: 22px;
  color: #cca066;
  text-align: center;
}

body {
  background-color: #FFF8E6;
  margin: 10px;
  font-size: 1.2em;
}
.setup {
  font-weight: bold;
}